@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

*+* {
    margin-top: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2e;
    color: #efeff1;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 70%;
    max-width: 960px;
    margin: 5em auto 0;
}