.search-bar {
  &__form {
    display: flex;

    &__input {
      flex: 1;
      border: none;
      border-radius: 5px;
      padding: 1em 2em;
      text-align: center;
      font-size: 1em;
      letter-spacing: 0.05em;
      background-color: #46464c;
      color: #efeff1;
      &:hover,
      &:focus {
        background-color: #56565c;
      }
    }

    &__button {
      background-color: #38383d;
      margin-top: 0;
      border: none;
      padding: 1em 2em;
      color: #efeff1;
      margin-left: 1em;
      font-weight: bold;
      font-size: 1em;
      letter-spacing: 0.04em;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #46464c;
      }
    }
  }
}
