.sites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #38383d;
    border-radius: 5px;
    padding: 2em;
    &__links {
        display: flex;
        justify-content: center;
        
        &__item{
            margin-top: 0;
            padding: 1em 1.4em;
            max-width: 7em;
            border-radius: 5px;
            transition: background-color .3s ease-in-out;
            img {
                max-width: 100%;
                max-height: 100%;
            }
    
            &:hover {
                background-color:#46464c;
            }

        }
    }
}