.button {
  color: var(--color-white);
  border: none;
  cursor: pointer;
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  transition: var(--transition-bg-color);
  letter-spacing: 0.05rem;
}

.button--small{
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--text-xs);
}

.button--normal{
  font-size: var(--text-sm);
}

.button--primary{
  background-color: var(--color-primary);
}

.button--primary:hover{
  background-color: var(--color-primary-light);
}

.button--secondary{
  background-color: var(--color-secondary);

}
.button--secondary:hover{
  background-color: var(--color-secondary-light);

}